.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.4rem;
  padding: 0 3.2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  &__logo {
    min-inline-size: 245px;
    &__image {
      height: 30px;
      width: 120px;
    }
  }

  &__models {
    list-style: none;
    display: flex;
  }

  &__actions {
    display: flex;
    list-style: none;
    min-inline-size: 245px;
  }
}

.item {
  & a {
    padding: 4px 8px;
    text-decoration: none;
    color: inherit;
    & span {
      margin: 0 8px;
      font-weight: 500;
    }
  }
}
